watch_file shells/flake-module.nix

use flake

## clan/sops identity via openpgp (cached pin), not piv age.
## see docs/decisions/yubikey-openpgp-ssh.md
# export SOPS_AGE_KEY_CMD="age-plugin-yubikey --identity"
export SOPS_PGP_FP="96F3B044F981D3988676737FF6EBB0BC75FCBBA7"

export TREEFMT_NO_CACHE=true
